body {
  margin: 0rem 0.85rem 0rem 0.85rem;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(231, 36, 36);
}
.nav-1 {
  display: flex;
}
.nav-2 {
  display: flex;
  align-items: center;
}
ul {
  margin: 0rem;
}
ul > li {
  list-style: none;
  padding: 1rem;
  color: white;
}

/* css to resto cart */
.restocart {
  height: 500px;
  width: 550px;
  padding: 1rem;
  box-sizing: border-box;
  border: 2px solid black;
}
.restocards {
  display: flex;
  flex-wrap: wrap;
}
