.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
  padding: 5px;
  background-color: red;
  color: white;
}
.name-items > ul {
  list-style: none;
  display: flex;
}
.name-items > ul > li {
  padding: 10px;
}
.logo {
  width: 100px;
}
.food-1 {
  width: 300px;
}

.card {
  width: 300px;
  border: 1px solid black;
  padding: 5px;
  margin: 8px;
}
.card > img {
  width: 300px;
}

.restrolist {
  display: flex;
  flex-wrap: wrap;
}
